.App {
  text-align: center;
  background-color: #f9f7f7;
  color: black;
  min-height: 100vh;
  margin: 0;

  display: grid; 
  grid-template-rows: auto 1fr auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App_h1 { 
  font-size: 2rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-footer{ 
  min-height: 40px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-body { 
  display: grid; 
  grid-template-columns: 5fr 1fr 5fr;
  justify-items: center;
  align-items: center;
}

.Atlas-co2{ 
  background: rgba(0, 0, 0, 0.18);
  padding: 23px;
  border-radius: 50px;
  margin: 10px;
  margin: 0 auto;
  transition: 1s;
}
