.PopulationGauge-containter { 
    background-color: rgb(185 185 185);
    height: 35vh;
    width: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    border-radius: 10px;
    align-items: start;
    padding-top: 5px;
}