.Info { 
    display: flex;
    justify-content: center;
}

.Info-slider { 
    padding: 0 20px;
}

.Info p { 
    font-size: 1rem;
    width: 100%
}

.Info__blurb-slider {
    width: 40%;
}

.Info-graph{ 
    width: 30%;
}