.Info { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.Info-slider { 
    padding: 0 20px;
}

.Info p { 
    font-size: 1rem;
    width: 100%
}

.Info__blurb-slider {
    width: 80%;
}

.Info-graph{ 
    width: 40vh;
}

.Info-slider-text {
    font-size: 0.9rem; 
    color: #625958b3;
}